.footer__column-links{
    height: 300px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    list-style: none;
    padding: 0;
    margin: 20px auto 16px;
}

.footer__column-links li {
    margin: 0; /* Убираем отступы между элементами списка */
}